body {
    background-color: #191716;
    color: #E0E2DB;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
}

h1 {
    color: #E0E2DB;
}

.converter {
    /* background-color: #8B575C; */
    background-color: #833737;
    border-radius: 10px;
    padding: 20px;
    color: white;
    margin: 10px;
}

#number {
    margin-bottom: 10px;
}

#romanNumerals {
    margin-bottom: 10px;
}

#convertToRomanButton {
    background-color: #6184D8;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

#convertToNumberButton {
    background-color: #6184D8;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

label {
    display: block;
}

input {
    width: 80%;
}

@media screen and (min-width: 900px) {
    .converter {
        display: inline-block;
        width: 20%;
    }
}

@media screen and (max-width: 900px) {
    body {
        font-size: .9em;
    }
    .converter {
        display: block;
        width: 50%;
        margin: 10px auto;
    }
}